@import './base.css';
body {
  width:100%;
  background-color: whitesmoke;
}
.app {
  width:100%;
}
a {
  text-decoration: none;
  color: #645567;
  transition: 0.4s;
  padding: 3px;
}
a:hover {
  color: #0D0107;
}


p {
  margin: 20px auto;
  font-size:1.3em;
}

.active {
  font-size:2em;
}

.portfolioLink {
  color:#645567;
  border-bottom: 2px dashed
}

.portfolioLink:hover {
  background-color: rgb(13,1,7,.1);
}